<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="ChallengeCreation.css">

    <script src="../scripts/ChallengeCreation.js"></script>

    <title>Creation Page</title>
</head>
<body>
    <div class="card">
        <!-- Header area -->
        <header>
           <h1>Challenge Creation</h1>
           <div>
              <button class="button-as-link" onclick="clearCanvas()">Clear Canvas</button>
              <button class="primary-button" onclick="exportImage()">Export Image</button>
           </div>
        </header>
        <!-- End of Header area-->

        <div class="card_body">
            <!-- Sidebar where all the tiles to be chosen goes-->
           <aside>
              <label>Tiles</label>
              <div class="tileset-container">
                 <img id="tileset-source"/>
                 <div class="tileset-container_selection"></div>
              </div>
           </aside>

           <div class="card_right-column">
              <!-- The main canvas -->
              <canvas width="500" height="500"></canvas>

              <p class="instructions">
                 <strong>Click</strong> to paint.
                 <strong>Shift+Click</strong> to remove.
              </p>
           </div>
        </div>
     </div>

     <script src="../scripts/ChallengeCreation.js"></script>

</body>
</html>