<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <main class="box">
            <h1>CarKART</h1>
            <br>
            <a class="btn btn-primary" href="playpage.html" role="button">PLAY!</a>
            <br><br>
            <a class="btn btn-info" href="instructions.html" role="button">Instructions</a>
            <br><br>
            <a class="btn btn-success" href="dashboard.html" role="button">Dashboard</a>
            <br><br>
            <a class="btn btn-secondary" href="history.html" role="button">History</a>
        </main>
    </body>
</html>
