<!DOCTYPE html>
<html lang="en">
    <head>
        <div data-include="header.html"></div>
    </head>
    <body>
        <main>
            <h1>Instructions</h1>
            <p>This project aims to create a user-friendly environment for children to gain exposure to coding by
                stimulating their critical thinking and problem-solving skills. This is done with the use of a gamified
                platform to create a fun and enriching experience for young learners, in hopes to help them develop a
                passion for coding, which is typically seen as daunting and complicated for many adults.
                <br><br>
                Key features of the project include a robotic car which can receive user commands from a web portal. The
                portal tracks the movement of the car for multiple rounds of gameplay and different scenarios for users to
                experiment and learn from. Using conditional logic, iterations and functions represented by simple blocks,
                users arrange commands (steps) to direct the robotic car towards the maze exit to complete the challenge.
            </p>
        </main>
    </body>
</html>