<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/playpage.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Scripts for injecting Blockly -->
    <script src="https://unpkg.com/blockly"></script> <!-- have to be first-->
    <script src="../scripts/playpage.js"></script>

    <title>THE GAME</title>

</head>
<body onload="setupCanvas()">

    <div class="container">
        <div class="row mt-5 mb-2" style=height:300px>
            <!-- Map columns (size 10)-->
            <div id="mapArea" class="bg border rounded-2 col-10" style="height:300px">
                <!-- Map area -->
                <img id="carfront" class="hidden" src='../images/carfront.png'></img>
                <img id="carright" class="hidden" src='../images/carright.png'></img>
                <img id="carleft" class="hidden" src='../images/carleft.png'></img>
                <img id="carback" class="hidden" src='../images/carback.png'></img>
                
                <canvas id="canvas" class="canvas"></canvas>
            </div>
            <!-- End of Map column-->

            <!-- Button column (size 2)-->
            <div class="col-2">
                <div class="row mb-2">
                    <div id ="selectButton" class="col">
                        <button type="button" class="btn btn-primary btn-block">Select Challenge</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div id="clearButton" class="col">
                        <button type="button" class="btn btn-primary btn-block">Clear Challenge</button>
                    </div>
                </div>
            </div> 
            <!-- End of Button column-->
        </div>
    </div>

    <div class="container">
        <div class="row rounded-2 mt-4">
            <!-- Blockly Area -->
            <div id="blocklyArea" style="height: 430px" class=" border col-9"></div>
            <!-- End of Blockly Area -->

            <!-- Command History Area -->
            <div class="border rounded col-3">
                <div class="row">
                    <div id="commandHistTitle" class="col-12 border-bottom border-3 text-center">
                        <p> Command History </p>
                    </div>
                    <div id="commandHistArea" class="col-12">
                        <!-- command history area -->
                    </div>
                </div> 
            </div>
            <!-- End of Command History Area -->
        </div>

        <div class="row mt-1 mb-2">
            <button type="button" class="btn btn-outline-primary" onclick="runCode()">Send Commands</button>
        </div>
    </div>

    <div id="blocklyDiv" style="position:absolute"></div>
    
    <!-- Toolbox of blockly (the commands) -->
    <xml id="toolbox" style="display: none">
        <block type="forward"></block>
        <block type="left"></block>
        <block type="right"></block>
        <block type="while"></block>
    </xml>


    <!-- Placing the blocklyDiv over the blocklyArea-->
    <script>
        var blocklyArea = document.getElementById('blocklyArea');
        var blocklyDiv = document.getElementById('blocklyDiv');
        var workspace = Blockly.inject(blocklyDiv,
            {
                toolbox: document.getElementById('toolbox'),
                trashcan: true,
                zoom:{pinch: true, controls:true},
        });
        var onresize = function(e) {
          // Compute the absolute coordinates and dimensions of blocklyArea.
          var element = blocklyArea;
          var x = 0;
          var y = 0;
          do {
            x += element.offsetLeft;
            y += element.offsetTop;
            element = element.offsetParent;
          } while (element);

          // Position blocklyDiv over blocklyArea.
          blocklyDiv.style.left = x + 'px';
          blocklyDiv.style.top = y + 'px';
          blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
          blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
          Blockly.svgResize(workspace);
        };
        window.addEventListener('resize', onresize, false);
        onresize();
        Blockly.svgResize(workspace);
    </script>
</body>
</html>